.add-a-task-button {
    min-width: 193px;
    @media screen and (max-width: 1170px) {
        min-width: 130px;
        margin-left: 8px;
        svg {
            margin-right: 4px;
        }
    }
    @media screen and (max-width: 764px) {
        min-width: 54px;
    }
}
.tasks-empty-button {
    margin-left: 8px;
}
.leads-table-header.tasks {
    padding-top: 16px;
}
.sort-button.tasks {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cdefs/%3E%3Cpath fill='%23828289' d='M5 3.8L8.3.5l1 1L5 5.6.8 1.4l.9-1L5 3.9z'/%3E%3C/svg%3E");
}
.leads-table-title.tasks {
    margin-right: 5px;
}
.leads-table-row.tasks {
    grid-template-columns: 43px minmax(160px, 1fr) 189px 230px 230px 125px;
    @media screen and (max-width: 1300px) {
        grid-template-columns: 43px minmax(160px, 1fr) minmax(100px, 189px) minmax(150px, 235px) minmax(150px, 246px) 105px;
    }
    @media screen and (max-width: 990px) {
        grid-template-columns: 28px minmax(120px, 1fr) minmax(94px, 189px) minmax(120px, 235px) minmax(120px, 246px) minmax(50px, 105px);
    }
    @media screen and (max-width: 660px) {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 28px 1fr 70px;
        & .leads-table-td:nth-child(4) {
            grid-row: 3 / 4;
            grid-column: 1 / 4;
        }
        & .leads-table-td:nth-child(5) {
            grid-row: 4 / 5;
            grid-column: 1 / 4;
        }
        & .leads-table-td:nth-child(3) {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }
        & .leads-table-td:nth-child(6) {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }
    }
}
.leads-table-body.tasks {
    padding-top: 0;
}
.leads-table-text.tasks {
    font-size: 14px;
    line-height: 21px;
}
.leads-table-notes.tasks svg {
    min-width: 20px;
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
}
.sort-tasks-select.select {
    margin-right: 9px;
    height: 48px;
    padding-right: 75px;
    background-position: 85% 50%;
    padding-left: 20px;
    font-weight: 500;
    position: relative;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    @media screen and (max-width: 1170px) {
        margin-right: 0;
    }
    @media screen and (max-width: 990px) {
        padding-right: 42px;
        padding-left: 12px;
    }
    @media screen and (max-width: 660px) {
        flex: 1;
    }
}
.leads-header-input.tasks {
    @media screen and (max-width: 1170px) {
        margin-right: 8px;
        width: 160px;
    }
    @media screen and (max-width: 990px) {
        width: 240px;
    }
    @media screen and (max-width: 660px) {
        width: 100%;
        margin-right: 0;
    }
}
.leads-table-row.tasks.checked .leads-table-td:nth-child(2) .leads-table-text {
    text-decoration: line-through;
}
.task-snooze-popup {
    position: absolute;
    right: 50px;
    top: 58px;
    border: 1px solid $square-button-help-border;
    box-sizing: border-box;
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 15px;
    background-color: $theme-white;
    width: 214px;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    justify-content: space-between;
    display: none;
    cursor: default;
    @media screen and (max-width: 764px) {
        left: auto;
        right: 50px;
    }
    &-title {
        text-align: left;
        width: 100%;
        padding: 0;
        display: block;
        padding-bottom: 11px;
    }
    &-time {
        width: 104px;
        height: 42px;
        background: $time-input-back;
        border: 1px solid $square-button-help-border;
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-left: 32px;
        &::-webkit-calendar-picker-indicator {
            display: none;
        }
    }
    &-daytime.select {
        height: 42px;
        background: $time-input-back;
        border: 1px solid $square-button-help-border;
        border-radius: 6px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        width: 64px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cdefs/%3E%3Cpath fill='%23828289' d='M5 3.8L8.3.5l1 1L5 5.6.8 1.4l.9-1L5 3.9z'/%3E%3C/svg%3E");
        background-position: 86% 50%;
        background-repeat: no-repeat;
        background-size: 10px 8px;
        padding: 0 8px;
    }
    &-date {
        height: 42px;
        background: $time-input-back;
        border: 1px solid $square-button-help-border;
        border-radius: 6px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        width: 100%;
        margin-top: 13px;
        padding: 0 8px;
    }
}
#task-snooze:hover,
#task-snooze:active,
#task-snooze.opened {
    background-color: transparent;
    svg {
        pointer-events: none;
    }
    path {
        fill: $theme-primary;
    }
}
#task-snooze.opened .task-snooze-popup {
    display: flex;
}
.files-list {
    display: none;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    &-item {
        display: flex;
        margin: 5px 16px 5px 0;
        &:last-child {
            margin-right: 0;
        }
    }
    &-item-icon {
        height: 40px;
        width: 40px;
        min-width: 40px;
        border: 1px solid $file-item-border;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            display: block;
            height: 32px;
            width: 32px;
            border-radius: 10px;
            object-fit: cover;
        }
        svg {
            height: 18px;
            width: 18px;
            object-fit: contain;
            margin-right: 0;
        }
    }
    &-item-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: $qualify-label;
        height: 40px;
        border: 1px solid $file-item-border;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2px 0 14px;
    }
    &-item-remove {
        height: 20px;
        width: 20px;
        border: none;
        margin-left: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cdefs/%3E%3Cpath fill='%23ABACB2' d='M5 4L8.3.9l1 .9L5.8 5l3.3 3.3-.9 1L5 5.8 1.7 9.2l-1-.9L4.2 5 .8 1.7l.9-1L5 4.2z'/%3E%3C/svg%3E");
        background-size: 8px 8px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }
}
.popup-center-file.show-list {
    justify-content: flex-start;
    padding: 5px 10px;
    height: auto;
    label {
        justify-content: flex-start;
    }
    &:hover {
        background-color: transparent;
    }
    .files-list {
        display: flex;
    }
    .title {
        display: none;
    }
    .file-upload {
        display: none;
    }
}

.remove-current-task {
    margin-top: -2px;
}

.leads-table-td.leads-table-notes.tasks svg {
    margin-right: 24px;
    height: 17px;

    @media screen and (max-width: 1170px) {
        margin-right: 10px;
        height: 14px;
    }

    &:last-child {
        margin-right: 0;

        path {
            fill: $theme-red;
        }
    }

    path {
        fill: $views-toggle;

    }
}

.add-task-on-page-submit, .edit-task-on-page-submit  {
    margin-top: auto;
}